// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PWA-example-primary: mat.define-palette(mat.$indigo-palette);
$PWA-example-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PWA-example-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PWA-example-theme: mat.define-light-theme(
  (
    color: (
      primary: $PWA-example-primary,
      accent: $PWA-example-accent,
      warn: $PWA-example-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PWA-example-theme);

/* You can add global styles to this file, and also import other style files */

// SPACING
@function nested-view-padding($device) {
  @if $device == "phone" {
    @return 70px 15px 0 15px;
  } @else if $device == "tablet-potrait" {
    @return 60px 25px 0 25px;
  } @else if $device == "tablet-landscape" {
    @return 60px 25px 0 25px;
  } @else if $device == "desktop" {
    @return 60px 85px 0 85px;
  } @else if $device == "big-desktop" {
    @return 90px 85px 0 85px;
  }
}

// MEDIA BREAKPOINTS
$phone-only: 599px;
$tablet-portrait-up: 899px;
$tablet-landscape-up: 1119px;
$desktop-up: 1200px;
$big-desktop-up: 1800px;

body {
  height: 100vh;
  padding: nested-view-padding("desktop");

  @media (max-width: $phone-only) {
    padding: nested-view-padding("phone") !important;
  }
  @media (max-width: $tablet-landscape-up) {
    padding: nested-view-padding("tablet-landscape");
  }
  @media (max-width: $tablet-portrait-up) {
    padding: nested-view-padding("tablet-potrait");
  }
  @media (min-width: $big-desktop-up) {
    padding: nested-view-padding("big-desktop") !important;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
